body {
    background-color: #fdfdfd;
    color: #000000;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#content {
    max-width: 640px;
    width: 96%;
    margin: 0px auto;
}

.labelButton {
    font-size: 20px;
}

.info {
    background-color: #FFFFCC;
    border: 1px solid #FFFF00;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}
.success {
    background-color: #CCFF99;
    border: 1px solid #336600;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}
.error {
    background-color: #FFFFCC;
    border: 1px solid #FFFF00;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}

a:link, a:visited {
    color: #000000;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

img {
    border: 1px solid #fdfdfd;
}

button {
    font-size: 20px;
    color: #000000;
    border: none;
    padding: 4px;
}
