{% extends 'annotationweb/one_column_layout.html' %}

{% block javascript %}

initializeAnnotation({{ task.id }}, {{ image_sequence.id }});

loadSequence(
    {{ image_sequence.id }},
    {{ image_sequence.start_frame_nr }},
    {{ image_sequence.nr_of_frames }},
    true,
    false,
    false,
    [ {% for frame in frames %}{{ frame.frame_nr }},{% endfor %}],
    0,
    0,
    false
);

    $("#manuallyAddFrame").keypress(function(event) {
        if(event.which == 13) {
            let frame_nr = parseInt($("#manuallyAddFrame").val());
            if(frame_nr >= {{ image_sequence.start_frame_nr }} && frame_nr < {{image_sequence.start_frame_nr}} + {{image_sequence.nr_of_frames}}) {
                addKeyFrame(frame_nr);
                $("#manuallyAddFrame").val('');
            }
        }
    });
{% endblock %}

{% block content %}
<h2>Set key frames</h2>

{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}

<div id="progressbar"><div class="progress-label">Loading...</div></div>
<div id="sliderText">Drag the slider to view the other frames in the sequence. Current frame: <span id="currentFrame"></span></div>
<div id="slider"></div>
<canvas id="canvas">Failed to show images. Canvas probably not supported in the browser.</canvas>

<br><br>
<strong style="color: red;">If you delete a frame which already has been an annotated, that annotation will be deleted!</strong>
<br>
<div class="actionButtons">
    <button id="playButton" type="button"><i id="play" class="fa fa-play"></i></button>
    <button id="addFrameButton" type="button" title="Select frame for annotation"><i class="fa fa-plus"></i></button>
    <button id="removeFrameButton" type="button" title="Remove selected frame from annotations"><i class="fa fa-minus"></i></button>
    <button id="nextFrameButton" type="button" title="Next annotation frame"><i class="fa fa-step-forward"></i></button>
</div>

<h4>Selected frames</h4>
<ul id="framesSelected">
</ul>

Manually add: <input type="text" id="manuallyAddFrame">

<form action="{% url 'select_key_frames' task.id image_sequence.id  %}" method="post">
    {% csrf_token %}
    <div id="framesForm"></div>
    <input type="submit" value="Finished">
</form>

{% endblock %}
