{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Annotation Web {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'annotationweb/style.css' %}">
        {% if dark_style %}
            <link rel="stylesheet" type="text/css" href="{% static 'annotationweb/style_dark.css' %}">
        {% endif %}
        <script src="{% static 'annotationweb/jquery.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'annotationweb/jquery-ui.css' %}">
        <script src="{% static 'annotationweb/jquery-ui.min.js' %}"></script>
        <script src="{% static 'annotationweb/annotationweb.js' %}"></script>
        {% for file in css_files %}
            <link rel="stylesheet" type="text/css" href="{% static file %}">
        {% endfor %}
        {% for file in javascript_files %}
        <script src="{% static file %}"></script>
        {% endfor %}
        <script type="text/javascript">
            $( window ).load(function() {
            {% block javascript %}
            {% endblock %}
            });
        </script>
    </head>
    <body>
        <div id="menuWrapper">
            <div id="menu">
            <ul>
                <li><h1>Annotation Web</h1></li>
                {% if user.is_authenticated %}
                <li><a href="{%  url 'index' %}">Task list</a></li>
                {% if user.is_staff %}
                <li><a href="{% url 'datasets' %}">Datasets</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'user:logout' %}">Logout</a></li>
                <li id="loggedIn">Logged in as {{ user }}</li>
                {% endif %}
            </ul>
            </div>
        </div>
            {% block page_content %}
            {% endblock %}
    </body>
</html>