{% extends 'annotationweb/base.html' %}

{% block javascript %}
initialize();
{% if image_sequence %}
loadSequence(
    {{ image_sequence.id }},
    {{ image_sequence.nr_of_frames }},
    {{ frame_nr }},
    {%  if task.show_entire_sequence %}true{% else %}false{% endif %},
    {{ task.frames_before }},
    {{ task.frames_after }},
    {% if task.auto_play %}true{% else %}false{% endif %}
);
{% endif %}

{% block task_javascript %}
{% endblock %}

{% if return_url %}
setReturnURL('{{ return_url }}');
{% endif %}

{% endblock javascript %}

{% block content %}

{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}
<div id="message"></div>

<h2>{{ task.name }}</h2>

{{ number_of_labeled_images }} of {{ total_number_of_images}} images has been labeled ({{ percentage_finished }}%).<br />

{% if image_sequence %}
<div id="progressbar"><div class="progress-label">Loading...</div></div>
<div id="sliderText">Drag the slider to view the other frames in the sequence:</div>
<div id="slider"></div>
<button id="playButton" type="button">Play</button>
<button id="goToTargetFrame">Go to target frame</button>
{% endif %}
<div id="actionButtons">
    {% if previous_image_id %}
    <button onclick="javascript:window.location.href='{% url 'annotate' task.id previous_image_id %}'">Previous</button>
    {% endif %}
    {% if next_image_id %}
    <button onclick="javascript:window.location.href='{% url 'annotate' task.id next_image_id %}'">Next</button>
    {% endif %}
    <button id="clearButton">Clear</button>
    <button id="saveButton">Save</button>
    <button onclick="javascript:window.location.href='{% url 'task' task.id %}'">Image list</button>
</div>
<div id="imageQuality">
<form id="imageQualityForm">
    Image quality:
    {% for quality_id, quality_name in image_quality_choices %}
    <input type="radio" name="quality" value="{{ quality_id }}" required{% if chosen_quality == quality_id %} checked="checked"{% endif %}> {{ quality_name }}
    {% endfor %}
</form>
</div>

<div id="labelButtons">
{% for label in task.label.all %}
    <button onclick="changeLabel({{ label.id }})" class="labelButton" id="labelButton{{ label.id }}">{{ label.name }}</button>
{% endfor %}
</div>

<canvas id="canvas">Failed to show images. Canvas probably not supported in the browser.</canvas>

{% block task_content %}
{% endblock %}

<h2>Task description</h2>

{% autoescape off %}
{{ task.description }}
{% endautoescape %}

{% endblock content %}
