{% extends 'annotationweb/base.html' %}

{% block javascript %}
{% if image_sequence %}
loadSequence(
    {{ image_sequence.id }},
    {{ image_sequence.nr_of_frames }},
    {{ frame_nr }},
    {%  if task.show_entire_sequence %}true{% else %}false{% endif %},
    {{ task.frames_before }},
    {{ task.frames_after }}
);
{% endif %}

{% block task_javascript %}
{% endblock %}

{% endblock javascript %}

{% block content %}

{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}
<div id="message"></div>

<h2>{{ task.name }}</h2>

{{ number_of_labeled_images }} of {{ total_number_of_images}} images has been labeled ({{ percentage_finished }}%).<br />

{% if image_sequence %}
<div id="progressbar"><div class="progress-label">Loading...</div></div>
<div id="sliderText">Drag the slider to view the other frames in the sequence:</div>
<div id="slider"></div>
{% endif %}

{% block task_content %}
{% endblock %}

<h2>Task description</h2>

{% autoescape off %}
{{ task.description }}
{% endautoescape %}

{% endblock content %}
