{% extends 'annotationweb/base.html' %}

{% block content %}

{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}

<h2>Tasks</h2>

<a href="{% url 'annotationweb:new_task' %}">Create a new task</a><br>

<ul>
    <li style="font-weight: bold">Classification tasks</li>
{% for task in tasks %}
    <li><a href="{% url 'classification:label_image' task.id %}">{{ task.name }}</a> ({{task.total_number_of_images}} images, {{task.percentage_finished}}% done)
        <a href="{% url 'annotationweb:export_labeled_dataset' task.id %}">Export</a>
        <a href="{% url 'annotationweb:delete_task' task.id %}">Delete</a>
    </li>
{% endfor %}
    <li style="font-weight: bold">Segmentation tasks</li>
{% for task in segmentation_tasks %}
    <li><a href="{% url 'segmentation:segment_image' task.id %}">{{ task.name }}</a> ({{task.total_number_of_images}} images, {{task.percentage_finished}}% done)
        <a href="{% url 'segmentation:export' task.id %}">Export</a>
        <a href="{% url 'annotationweb:delete_task' task.id %}">Delete</a>
    </li>
{% endfor %}
    <li style="font-weight: bold">Bounding box tasks</li>
{% for task in boundingbox_tasks %}
    <li><a href="{% url 'boundingbox:process_image' task.id %}">{{ task.name }}</a> ({{task.total_number_of_images}} images, {{task.percentage_finished}}% done)
        <a href="{% url 'boundingbox:export' task.id %}">Export</a>
        <a href="{% url 'annotationweb:delete_task' task.id %}">Delete</a>
    </li>
{% endfor %}
</ul>
{% endblock %}