{% extends 'annotationweb/one_column_layout.html' %}

{% block content %}

{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}

<h2>Tasks</h2>

<p>
    <a href="{% url 'new_task' %}">Create a new task</a><br>
</p>

<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Nr of images</th>
        <th>Progress</th>
        <th>Image list</th>
        <th>Annotate</th>
        <th>Export</th>
        <th>Delete</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.type }}</td>
        <td>{{task.total_number_of_images}}</td>
        <td>{{task.percentage_finished}}%</td>
        <td><a href="{% url 'task' task.id %}">Image list</a></td>
        <td><a href="{% url 'annotate' task.id %}">Continue annotation</a></td>
        <td><a href="{% url 'export' task.id %}">Export</a>
        <td><a href="{% url 'delete_task' task.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>


{% endblock %}