{% extends 'annotationweb/base.html' %}

{% block content %}

{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}

<h2>Tasks</h2>


<ul>
{% for task in tasks %}
    <li>
        {% if task.type == 'classification' %}
        <a href="{% url 'classification:label_image' task.id %}">{{ task.name }}</a> ({{task.total_number_of_images}} images, {{task.percentage_finished}}% done)
        {% elif task.type == 'segmentation' %}
        <a href="{% url 'segmentation:segment_image' task.id %}">{{ task.name }}</a> ({{task.total_number_of_images}} images, {{task.percentage_finished}}% done)
        {% elif task.type == 'boundingbox' %}
        <a href="{% url 'boundingbox:process_image' task.id %}">{{ task.name }}</a> ({{task.total_number_of_images}} images, {{task.percentage_finished}}% done)
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock %}