{% extends 'annotationweb/one_column_layout.html' %}

{% block content %}

{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}

<h2>Tasks</h2>


<ul>
{% for task in tasks %}
    <li>
        {% if task.started %}
            <a href="{% url 'annotate' task.id %}">
        {% else %}
            <a href="{% url 'task_description' task.id %}">
        {% endif %}
        {{ task.name }}</a> -
        <a href="{% url 'task' task.id %}">Image list</a> -
        ({{task.total_number_of_images}} images, {{task.percentage_finished}}% done)
    </li>
{% endfor %}
</ul>
{% endblock %}