{% extends 'annotationweb/one_column_layout.html' %}

{% block content %}

<h1>Dataset {{ subject.dataset.name }} - Subject {{ subject.name }}</h1>

<p>
    <a href="{% url 'dataset_details' subject.dataset.id %}">Go back to dataset</a> -
    <a href="{% url 'add_image_sequence' subject.id %}">Add an image sequence</a> -
    <a href="{% url 'delete_subject' subject.id %}">Delete subject</a>
</p>

<h2>Image sequences</h2>
<table>
    <tr>
        <th>Format</th>
        <th>Nr. of frames</th>
        <th>Nr. of annotations</th>
        <th>Delete</th>
    </tr>
    {% for sequence in subject.imagesequence_set.all %}
    <tr>
        <td>{{ sequence.format }}</td>
        <td>{{ sequence.nr_of_frames }}</td>
        <td>{{ sequence.imageannotation_set.count }}</td>
        <td><a href="{% url 'delete_sequence' sequence.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}