{% extends 'annotationweb/one_column_layout.html' %}
{% load include_if_exists %}

{% block content %}

<h1>{{ task.name }}</h1>

<p>
    <a href="{% url 'annotate' task.id %}">Continue annotation</a>
</p>

{% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}

<h2>Images</h2>

<div id="imageFilter">
<form action="{% url 'task' task.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><button type="button" onclick="javascript:window.location = '{% url 'reset_filters' task.id %}';">Reset filters</button></p>
</form>
</div>

{% if images|length == 0 %}
<p>No images found.</p>
{% endif %}

{% for image in images %}
    {# one row #}
    {% if forloop.counter0|divisibleby:"4" %}
    {% if not forloop.first %}
        {# end previous row #}
        </div>
    {% endif %}
    <div style="clear: both">
    {% endif %}

    <div style="float: left; width: 25%; box-sizing: border-box; padding: 10px; overflow: hidden;">
        <canvas id="canvas_{{ image.id }}" style="width:100%;"></canvas><br>
        <script>
            $(document).ready(function() {
                // Load image into canvas
                getImageFrame({{ image.id }}, Math.floor({{ image.nr_of_frames }}/2), {{ task.id }})
                    .then(image => {
                        let canvas = document.getElementById('canvas_{{ image.id }}');
                        let scale = canvas.offsetWidth / image.width;
                        let height = Math.round(image.height * scale);
                        canvas.setAttribute('width', canvas.offsetWidth);
                        canvas.setAttribute('height', height);
                        canvas.getContext('2d').drawImage(image, 0, 0, canvas.offsetWidth, height);
                    });
            });
        </script>
        {{ image.format }}<br>

        {% if image.annotation.finished %}
        {% if image.annotation.rejected %}
            <span style="color: darkred; font-weight: bold;">REJECTED</span><br>
        {% endif %}
        {% if task.annotate_single_frame %}
            <strong>Date:</strong> {{ image.annotation.date|date:"d-m-Y H:i" }}<br>
            <strong>User:</strong> {{ image.annotation.user.username }}<br>
            <strong>Image quality:</strong> {{ image.annotation.image_quality }}<br>

            {% include_if_exists task.type|add:'/annotation_overview.html' %}

        {% else %}
            Annotated frames: {{ image.annotation_frames|length }}<br>
            User: {{ image.annotation.user.username }}<br>
            Date: {{ image.annotation.date|date:"d-m-Y H:i" }}<br>
        {% endif %}

        <a href="{% url 'annotate' task.id image.id %}">Edit annotations</a><br>
        {% else %}
        Not annotated.<br>
        <a href="{% url 'annotate' task.id image.id %}">Annotate</a><br>
        {% endif %}
        {{ image.annotation_frames | length }} key frames.<br>
        {% if user.is_staff %}
        <a href="{% url 'select_key_frames' task.id image.id %}">Select key frames</a>
        {% endif %}

    </div>


    {# end row if last#}
    {% if forloop.last %}
        </div>
    {% endif %}
{% endfor %}

<div class="pagination" style="clear: both; border-top: 1px solid #000000;">
    <span class="step-links">
        {% if images.has_previous %}
            <a href="?{% url_replace request 'page' images.previous_page_number %}">Previous</a> -
        {% endif %}

        <span class="current">
            Page {{ images.number }} of {{ images.paginator.num_pages }}
        </span>

        {% if images.has_next %}
            - <a href="?{% url_replace request 'page' images.next_page_number %}">Next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
