{% extends 'annotationweb/base.html' %}

{% block content %}

<h1>{{ task.name }}</h1>

<p>
    <a href="{% url 'annotate' task.id %}">Continue annotation</a>
</p>

{% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}

<h2>Images</h2>

<div id="imageFilter">
<form action="" method="get">
    {{ form.as_p }}
</form>
</div>

{% for image in images %}
    <div style="float: left; width: 25%; height: 300px">
        <img src="{% url 'show_image' image.id %}" width="100%">

        {% if image.annotation %}

        Date: {{ image.annotation.date|date:"d-m-Y H:i" }}<br>
        User: {{ image.annotation.user.username }}<br>
        Image quality: {{ image.annotation.image_quality }}<br>

        {% if task.type == 'classification' %}
            {# Get all labels if task is classification task #}
            {% for label in image.annotation.imagelabel_set.all %}
            {{ label.label.name }}<br>
            {% endfor %}
        {% elif task.type == 'boundingbox' %}
            Boxes added {{ image.annotation.boundingbox_set.count }}<br>
        {% elif task.type == 'segmentation' %}
        {% elif task.type == 'landmark' %}
            Landmarks added {{ image.annotation.landmark_set.count }}<br>
        {% endif %}

        <a href="{% url 'annotate' task.id image.id %}?{{  search_filters.urlencode }}">Edit</a>
        {% else %}
        Not annotated.<br>
        <a href="{% url 'annotate' task.id image.id %}">Annotate</a>
        {% endif %}

    </div>
{% endfor %}

<div class="pagination" style="clear: both; border-top: 1px solid #000000;">
    <span class="step-links">
        {% if images.has_previous %}
            <a href="?{% url_replace request 'page' images.previous_page_number %}">Previous</a> -
        {% endif %}

        <span class="current">
            Page {{ images.number }} of {{ images.paginator.num_pages }}
        </span>

        {% if images.has_next %}
            - <a href="?{% url_replace request 'page' images.next_page_number %}">Next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
