{% extends 'annotationweb/do_task.html' %}

{% block task_javascript %}
{% if image_sequence %}
loadBBTask({{ image_sequence.id }}, {{ frame_nr }}, {{task.id}}, {{image.id}});
{% endif %}

{% for label in task.label.all %}

addLabelButton({{ label.id }}, {{ label.color_red }}, {{ label.color_green }}, {{ label.color_blue }});

{% endfor %}

{% for box in boxes %}
addBox({{ box.x }}, {{ box.y }}, {{ box.x }} + {{ box.width }}, {{ box.y }} + {{ box.height }}, {{ box.label_id }});
{% endfor %}
redraw();

{% endblock %}

{% block task_content %}

<div id="actionButtons">
    {% if previous_image_id %}
    <button onclick="javascript:window.location.href='{% url 'boundingbox:process_image' task.id previous_image_id %}'">Previous</button>
    {% endif %}
    {% if next_image_id %}
    <button onclick="javascript:window.location.href='{% url 'boundingbox:process_image' task.id next_image_id %}'">Next</button>
    {% endif %}
    <button id="goToTargetFrame">Go to target frame</button>
    <button id="clearButton">Clear</button>
    <button id="saveButton">Save</button>
</div>

<div id="imageQuality">
<form>
{% for quality_id, quality_name in image_quality_choices %}
    <input type="radio" name="quality" value="{{ quality_id }}" required{% if chosen_quality == quality_id %} checked="checked"{% endif %}> {{ quality_name }}
{% endfor %}
</form>
</div>

<div id="labelButtons">
{% for label in task.label.all %}
    <button onclick="changeLabel({{ label.id }})" class="labelButton" id="labelButton{{ label.id }}">{{ label.name }}</button>
{% endfor %}
</div>

<canvas id="canvas">Failed to show images. Canvas probably not supported in the browser.</canvas>

{% endblock task_content %}
