body {
    background-color: #000000 !important;
    color: #fdfdfd !important;
}

.info {
    background-color: #FFFFCC;
    border: 1px solid #FFFF00;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}
.success {
    background-color: #CCFF99;
    border: 1px solid #336600;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}
.error {
    background-color: #FFFFCC;
    border: 1px solid #FFFF00;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}

.message {
    background-color: #FFFFCC;
    border: 1px solid #FFFF00;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}

a:link, a:visited {
    color: #fdfdfd !important;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

img {
    border: 1px solid #fdfdfd;
}

.activeLabel {
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    padding: 7px !important;
}


#slider {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    font-size: x-large;
    color: #000000;
    background-color: #d4d4d4;
    border: none;
    padding: 10px;
    margin: 4px;
    flex-grow: 1;
}

button:hover {
    background-color: #FFFFFF;
}

hr {
    background-color: #FFFFFF;
    border: none;
    height: 3px;
}

.flexButtons {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
}

#saveButton {
    background-color: #6ea863;
}

#rejectButton {
    background-color: #a84a4a;
}