body {
    background-color: #000000 !important;
    color: #fdfdfd !important;
}

.info {
    background-color: #FFFFCC;
    border: 1px solid #FFFF00;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}
.success {
    background-color: #CCFF99;
    border: 1px solid #336600;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}
.error {
    background-color: #FFFFCC;
    border: 1px solid #FFFF00;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}

.message {
    background-color: #FFFFCC;
    border: 1px solid #FFFF00;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}

a:link, a:visited {
    color: #fdfdfd !important;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

img {
    border: 1px solid #fdfdfd;
}

.activeLabel {
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    padding: 7px !important;
}


#slider {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    font-size: x-large;
    color: #000000;
    background-color: #d4d4d4;
    border: none;
    padding: 10px;
    margin: 4px;
    flex-grow: 1;
    border-radius: 6px;
}

button:hover {
    background-color: #FFFFFF;
}

hr {
    background-color: #FFFFFF;
    border: none;
    height: 3px;
}

.flexButtons {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
}

.material-icons{
    display: inline-flex;
    vertical-align: text-bottom;
}

#saveButton {
    font-size:28px;
    line-height:0px;
    background-color: #6ea869;
}

#saveButton:before{
	content: '\e171';
	font-family: Material Icons;
    font-size: 32px;
    vertical-align: bottom;
    padding-right: 8px;
}

#saveButton:hover {
	background: #6ea869;
	color: #fff;
}

#rejectButton {
    background-color: #a84a4a;
    font-size:28px;
}

#rejectButton:before{
	content: '\f00d';
	font-family: FontAwesome;
    font-size: 28px;
    padding-right: 8px;
}

#rejectButton:hover {
	background: #a84a4a;
	color: #fff;
}

#imageListButton{
    font-size:28px;
    line-height:0px;
}

#imageListButton:before{
	content: '\e172';
	font-family: "Material Icons";
    font-size: 32px;
    vertical-align: bottom;
    padding-right: 8px;
}

#clearButton {
    font-size:28px;
}

#clearButton:before{
    content: '\f12d';
	font-family: FontAwesome;
    font-size: 28px;
    padding-right: 8px;
}