body {
    background-color: #fdfdfd;
    color: #000000;
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#pageContent {
    padding: 40px;
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
}

#content {
}

#contentRight {
    width: 50%;
    float: left;
}

#contentLeft {
    width: 50%;
    float: left;
}

.labelButton {
    font-size: 20px;
}

#menuWrapper {
    width: 100%;
    background-color: #333;
}

#menu{
    margin: 0px auto;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
}

#menu h1 {
    color: #FFFFFF;
    font-size: x-large;
    display: inline-block;
}

#menu li {
    color: white;
    display: inline;
}

#menu li a {
    padding: 14px 16px;
    display: inline-block;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

#loggedIn {
    padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
    background-color: #111;
}

.info {
    background-color: #FFFFCC;
    border: 1px solid #FFFF00;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}
.success {
    background-color: #CCFF99;
    border: 1px solid #336600;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}
.error {
    background-color: #FFFFCC;
    border: 1px solid #FFFF00;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #000000;
}

a:link, a:visited {
    color: #000000;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

img {
    border: 1px solid #fdfdfd;
}

button {
    font-size: 20px;
    color: #000000;
    border: none;
    padding: 4px;
}

#imageQuality {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: x-large;
}
