{% extends 'annotationweb/base.html' %}

{% block title %} Label image {% endblock %}


{% block onload %}
{% if image_sequence %}
loadSequence(
    {{ image_sequence.id }},
    {{ image_sequence.nr_of_frames }},
    {{ frame_nr }},
    {%  if task.show_entire_sequence %}true{% else %}false{% endif %},
    {{ task.frames_before }},
    {{ task.frames_after }}
);
{% endif %}
{% endblock %}

{% block content %}
    <h2>Label the following image</h2>
    {{ number_of_labeled_images }} of {{ total_number_of_images}} images has been labeled ({{ percentage_finished }}%).<br />
    {% if image_sequence %}
    <div id="progressbar"><div class="progress-label">Loading...</div></div>
    <div id="sliderText">Drag the slider to view the other frames in the ultrasound sequence:</div>
    <div id="slider"></div>
    <button id="goToTargetFrame">Go to target frame</button><br>
    <canvas id="canvas">Failed to show images. Canvas probably not supported in the browser.</canvas>
    {% else %}
    <img src="{% url 'show_image' image.id %}" alt="" width="512"/>
    {% endif %}
    <br />
    <br />
    <form id="label-form" method="post" action="{% url 'classification:label_image'  task.id %}">
        <input type="hidden" value="{{ image.id }}" name="image_id" />
        {% csrf_token %}
        <h3>Assign label:</h3>
        {% for label in labels %}
        <input type="submit" name="{{label.name}}" value="{{label.name}}" class="labelButton">
        {% endfor %}
        <br><br>
        <input type="button" value="Undo previous labeled image" class="labelButton" onclick="javascript:window.location.href='{% url 'classification:undo_image_label' task.id %}'">
    </form>
{% endblock %}
