{% extends 'annotationweb/do_task.html' %}

{% block task_javascript %}
// Assign color to label buttons
{% for label in task.label.all %}
var red = {{ label.color_red }};
var green = {{ label.color_green }};
var blue = {{ label.color_blue }};

red = red.toString(16);
if(red.length == 1) {
    red = "0" + red;
}
green = green.toString(16);
if(green.length == 1) {
    green = "0" + green;
}
blue = blue.toString(16);
if(blue.length == 1) {
    blue = "0" + blue;
}
$("#labelButton" + {{ label.id }}).css("background-color", "#" + red + green + blue);

{% endfor %}
{% endblock %}

{% block task_content %}
    <form id="label-form" method="post" action="{% url 'classification:label_image'  task.id image.id %}">
        <div id="imageQuality">
            {% for quality_id, quality_name in image_quality_choices %}
            <input type="radio" name="quality" value="{{ quality_id }}" required{% if chosen_quality == quality_id %} checked="checked"{% endif %}> {{ quality_name }}
            {% endfor %}
        </div>
        <input type="hidden" value="{{ image.id }}" name="image_id" />
        {% csrf_token %}
        <div id="labelButtons">
            Assign one label to this image:<br>
            {% for label in labels %}
            <input type="submit" name="{{label.name}}" value="{{label.name}}" id="labelButton{{ label.id }}"
            {% if chosen_label == label.id %} class="labelButton activeLabel"{% else %} class="labelButton"{% endif %}>
            {% endfor %}
        </div>
        {% if image_sequence %}
        <canvas id="canvas">Failed to show images. Canvas probably not supported in the browser.</canvas>
        {% else %}
        <img src="{% url 'show_image' image.id %}" alt="" width="512"/>
        {% endif %}
    </form>
{% endblock task_content %}
