{% extends 'annotationweb/do_task.html' %}

{% block task_javascript %}
    {% if image_sequence %}
        loadSegmentationTask({{ image_sequence.id }});
    {% endif %}

    {% for frame in target_frames %}
        addControlPointsForNewFrame({{ frame.frame_nr }});
    {% endfor %}

    {% for control_point in control_points %}
        addControlPoint({{ control_point.x }}, {{ control_point.y }}, {{ control_point.image.keyframe.frame_nr }}, {{ control_point.label_id }}, {% if control_point.uncertain %}true{% else %}false{% endif %});
    {% endfor %}

{% endblock task_javascript %}
