{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Annotation Web - {% block title %}{% endblock %}
        </title>
        {% if dark_style %}
        <link rel="stylesheet" type="text/css" href="{% static 'annotation/style_dark.css' %}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'annotation/style.css' %}">
        {% endif %}
    </head>
    <body>
        <div id="content">
            <h1>Annotation Web</h1>
            <div id="menu">
                <a href="/">Tasks</a> -
                <a href="{% url 'annotation:import_local_dataset' %}">Import a local dataset</a>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>