{% extends 'annotation/base_annotater.html' %}

{% block content %}

{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}

<h2>Tasks</h2>


<ul>
{% for task in tasks %}
    <li><a href="{% url 'annotation:label_image' task.id %}">{{ task.name }}</a> ({{task.total_number_of_images}} images, {{task.percentage_finished}}% done)
    </li>
{% endfor %}
{% for task in segmentation_tasks %}
    <li><a href="{% url 'segmentation:segment_image' task.id %}">{{ task.name }}</a> ({{task.total_number_of_images}} images, {{task.percentage_finished}}% done)
    </li>
{% endfor %}
{% for task in boundingbox_tasks %}
    <li><a href="{% url 'boundingbox:process_image' task.id %}">{{ task.name }}</a> ({{task.total_number_of_images}} images, {{task.percentage_finished}}% done)
    </li>
{% endfor %}
</ul>
{% endblock %}